archive.py
config.py
microscope_log.txt.*
microscope_service_account.json
start_microscope.sh
*.py~
*.sh~
endstop_test.py
folder_name_log.json
main_script.py
*.c~
__pycache__/
*.pyc
output.log
raw.dat.npy
slides_to_image.json
test1.py
test2.py
test3.py
test_script.py
*.jpg
*.md
